@import "tailwindcss";

.poi-marker {
  background-color: white;
  padding: clamp(0.2rem, 0.5vw, 0.4rem);
  border-radius: 50%;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: clamp(28px, 6vw, 36px);
  width: clamp(28px, 6vw, 36px);
}

.hidden {
  display: none;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: Futura, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

#navbar {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  padding-left: 10px;
  padding-right: 10px;

  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  background-color: #ffffff;
  /**
   * TODO: no hard coding
   */
  font-size: 14px;
  height: 40px;
}

#navbar img {
  height: 70%;
}

#map {
  flex: 1;
}

/** TODO style */
#settings-pane {
  position: absolute;
  /* below navbar */
  top: 60px;

  right: 20px;
  width: 250px;
  background: white;
  border: 1px solid #ccc;
  padding: 1rem;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

#settings-pane-clear-local-storage {
  border: 1px solid #000;
}

#mini-player {
  position: fixed;

  left: max(16px, env(safe-area-inset-left));
  right: max(16px, env(safe-area-inset-right));
  bottom: max(16px, env(safe-area-inset-bottom));

  /*
   * on desktop don't take full width;
   * TODO: make sure this doesnt conflict with ^
   */
  max-width: 500px;

  z-index: 1000;

  background: white;
}

#mini-player-title {
  font-weight: bold;
  font-size: medium;
  margin: 1;
}

#mini-player-image {
  width: 60%;
}

#mini-player-close {
  height: 30px;
  width: 30px;
}

#mini-player-audio {
  background-color: #d4d4d4;
  border: #b7b7b7;
  border-style: solid;
  border-radius: 12px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 2px;
}

#mini-player-audio-element {
  width: 100%;
}
